{{ form.media }}
{% for set in fieldsets %}
  <fieldset>
    <legend>{{ set.legend }}</legend>
    <div class="column-group quarter-gutters">
    {% for field in set %}
    {% if field.id_for_label == 'id_fitness_func' %}
      <div class="control-group tiny-100 small-100 medium-100 large-60 xlarge-60">
    {% else %}
      <div class="control-group all-20">
    {% endif %}
        {{ field.label_tag }}
        <div class="control">
          {{ field }}
        </div>
      {% if field.id_for_label == 'id_fitness_func' %}
        <button id="network-modal-trigger" class="ink-button push-right">Test</button>
        {% include 'neatweb/modal.html' with form=form %}
      {% endif %}
      {% for error in field.errors %}
        <p class="tip">{{ error }}</p>
      {% endfor %}
      </div>
    {% endfor %}
    </div>
  </fieldset>
{% endfor %}
