{% extends "base.html" %}

{% block content %}
<div>
  <select id="generations">
  {% for g in gen_list %}
    <option value="{{ g.id }}">Generation {{ g.id }}</option>
  {% endfor %}
  </select>

  {% with sel_gen=gen_list|first %}
  <form id="gen_form" 
        action="/neat/experiment-{{ exp_id }}/population-{{ sel_gen.population_id }}/generation-{{ sel_gen.id }}" >
    <input type="submit" value="Select">
  </form>
  {% endwith %}
</div><br>
<div id="status">
{% if winner %}
  A winner was found!
{% else %}
  A winner was not found!
{% endif %}
</div>
{% endblock %}
