{% extends "base.html" %}

{% block content %}

<div class="column-group top-space">
  <div class="all-100">
    {% if exp_list %}
      <table class="ink-table bordered">
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th/>
        <th/>
      </tr>
      {% for exp in exp_list %}
        <tr>
          <td>{{ exp.name }}</td>
          <td>{{ exp.start|date:"F d, Y, h:i A" }}</td>
          <td id="{{ exp.jid }}">{{ exp.end|date:"F d, Y, h:i A" }}</td>
          <td>
            <form action="{% url 'experiment' exp.pk %}" method="get">
              {% csrf_token %}
              <input type="submit" value="Select" />
            </form>
          </td>
          <td>
            <form action="{% url 'experiment-delete' exp.pk %}" method="post">
              {% csrf_token %}
              <input type="submit" value="Delete" />
            </form>
          </td>
        </tr> 
      {% endfor %}
      </table>
    {% else %}
      No experiments have been run.
    {% endif %}
  </div>
</div>

{% endblock %}
