{% extends "base.html" %}

{% block content %}
<div>
  <select id="organisms">
  {% for o in org_list %}
    <option value="{{ o.id }}">Organism {{ o.id }}</option>
  {% endfor %}
  </select>
</div><br>
{% with org_sel=org_list|first %}
Fitness: 
<div id="fitness">
  {{ org_sel.fitness }}
</div><br>
Rank: 
<div id="rank">
  {{ org_sel.rank }}
</div><br>
Marked:
<div id="marked">
        {{ org_sel.marked }}
</div><br>
{% endwith %}
Input:
<div id="input">
  {{ network.input }}
</div><br>
Hidden:
<div id="hidden">
  {{ network.hidden }}
</div><br>
Output:
<div id="output">
  {{ network.output }}
</div><br>
Genes:
<div id="genes">
  <table border="1">
    <tr>
      <td>Inode</td>
      <td>Onode</td>
      <td>Weight</td>
      <td>Enabled</td>
    </tr>
  {% for g in network.genes %}
    <tr>
      <td>{{ g.inode }}</td>
      <td>{{ g.onode }}</td>
      <td>{{ g.weight }}</td>
      <td>{{ g.enabled }}</td>
    </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}
