{% extends "base.html" %}

{% block content %}

<ul>
  <li><a href="{% url 'population' org.population.pk %}">Population {{ org.population.rel_index }}</a></li>
  <li><a href="{% url 'generation' org.generation.pk %}">Generation {{ org.generation.rel_index }}</a></li>
  <li><a href="{% url 'species' org.species.pk %}">Species {{ org.species.rel_index }}</a></li>
</ul>
<table border="1">
{% for k, v in fields.items %}
  <tr>
    <td>{{ k }}</td>
    <td>{{ v }}</td>
  </tr>
{% endfor %}
</table>
<div id="neural-network">
</div>
<script type="text/javascript">
  var nodes = new vis.DataSet();
  var edges = new vis.DataSet();

{% for k, v in neurons.items %}
  {% for n in v %}
  nodes.add({
    id: {{ n.0 }},
    label: '{{ k }} {{ n.0 }}',
    level: {{ n.1 }},
  });
  {% endfor %}
{% endfor %}

{% for g in genes %}
  edges.add({
    from: {{ g.inode }}, 
    to: {{ g.onode }},
    arrows: 'to',
    label: '{{ g.weight }}',
    font: {
      align: 'top',
    },
  });
{% endfor %}

  var container = document.getElementById('neural-network');
  var data = {
    nodes: nodes,
    edges: edges,
  };
  var options = {
    width: '600px',
    height: '400px',  
    layout: {
      hierarchical: {
        direction: 'LR',
        levelSeparation: 300,
        nodeSpacing: 300,
      }
    },
  };
  var network = new vis.Network(container, data, options);
</script>

{% endblock %}
