{% extends "base.html" %}

{% block breadcrumbs %}
{% with pop=org.population %}
<li>
  <a href="{% url 'experiment' pop.experiment.pk %}">Experiment {{ pop.experiment.pk }}</a>
</li>
<li>
  <a href="{% url 'population' pop.pk %}">Population {{ pop.rel_index }}</a>
</li>
{% endwith %}
<li>
  <a href="{% url 'generation' org.generation.pk %}">Generation {{ org.generation.rel_index }}</a>
</li>
<li>
  <a href="{% url 'species' org.species.pk %}">Species {{ org.species.rel_index }}</a>
</li>
<li class="active">
  <a href="{% url 'organism' org.pk %}">Organism {{ org.rel_index }}</a>
</li>
{% endblock %}

{% block content %}
<div class="column-group gutters">
  <div class="all-25">
    <form action='{% url 'network' org.pk %}' method="get">
      <input type="submit" value="Download" class="ink-button" />
    </form>
    <table id="org-table" class="ink-table bordered">
    {% for k, v in fields.items %}
      <tr>
        <td>{{ k }}</td>
      {% if k == 'fitness' %}
        <td>{{ v|floatformat:2 }}</td>
      {% else %}
        <td>{{ v }}</td>
      {% endif %}
      </tr>
    {% endfor %}
    </table>
  </div>
  <div class="all-75">
    <div id="network"></div>
  </div>
</div>

<style charset="utf-8">
.link {
  fill: #000;
  stroke: #ccc;
  stroke-width: '1.5px';
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}
</style>

<script type="text/javascript">
var width = 600,
    height = 400;

var nodes = {{ nodes|safe }};
var links = {{ links|safe }};

var fill = d3.scale.category10();

var force = d3.layout.force()
    .nodes(nodes)
    .links(links)
    .charge(-200)
    .linkDistance(120)
    .size([width, height])
    .on('tick', tick)
    .start();

var svg = d3.select('#network').append('svg')
    .attr('width', width)
    .attr('height', height);

svg.append('defs').selectAll('marker')
    .data(['to'])
  .enter().append('marker')
    .attr('id', 'to')
    .attr('viewBox', '0 -5 10 10')
    .attr('refX', 16)
    .attr('refY', 0)
    .attr('markerWidth', 10)
    .attr('markerHeight', 10)
    .attr('orient', 'auto')
  .append('path')
    .attr('d', 'M0,-5L10,0L0,5');

var genes = svg.selectAll('path')
    .data(links)
  .enter().append('path')
    .attr('class', 'link')
    .attr('marker-end', 'url(#to)');

var neurons = svg.selectAll('g')
    .data(nodes)
  .enter().append('g');

neurons.append('circle')
    .attr('r', 8)
    .attr('fill', function(d) { return fill(d.group); })
    .attr('fixed', true)
    .call(force.drag);

neurons.append('text')
    .attr('dx', 10)
    .attr('dy', 5)
    .text(function(d) { return d.label; });

function tick() {
  neurons.attr('transform', function(d) {
    return 'translate(' + d.x + ',' + d.y + ')';
  });

  genes.attr('d', function(d) {
    return 'M' + d.source.x + ',' + d.source.y + 'L' + d.target.x + ',' + d.target.y;
  });
}
</script>

{% endblock %}
