{% extends "base.html" %}

{% block breadcrumbs %}
{% with pop=org.population %}
<li>
  <a href="{% url 'experiment' pop.experiment.pk %}">Experiment {{ pop.experiment.pk }}</a>
</li>
<li>
  <a href="{% url 'population' pop.pk %}">Population {{ pop.rel_index }}</a>
</li>
{% endwith %}
<li>
  <a href="{% url 'generation' org.generation.pk %}">Generation {{ org.generation.rel_index }}</a>
</li>
<li>
  <a href="{% url 'species' org.species.pk %}">Species {{ org.species.rel_index }}</a>
</li>
<li class="active">
  <a href="{% url 'organism' org.pk %}">Organism {{ org.rel_index }}</a>
</li>
{% endblock %}

{% block content %}
<div class="column-group gutters">
  <div class="all-25">
    <table id="org-table" class="ink-table bordered">
    {% for k, v in fields.items %}
      <tr>
        <td>{{ k }}</td>
      {% if k == 'fitness' %}
        <td>{{ v|floatformat:2 }}</td>
      {% else %}
        <td>{{ v }}</td>
      {% endif %}
      </tr>
    {% endfor %}
    </table>
  </div>
  <div class="all-75">
    <div id="neural-network"></div>
  </div>
</div>

<script type="text/javascript">
  var nodes = new vis.DataSet();
  var edges = new vis.DataSet();

{% for k, v in neurons.items %}
  {% for n in v %}
  nodes.add({
    id: {{ n.0 }},
    label: '{{ k }} {{ n.0 }}',
    level: {{ n.1 }},
  });
  {% endfor %}
{% endfor %}

{% for g in genes %}
  edges.add({
    from: {{ g.inode }}, 
    to: {{ g.onode }},
    label: '{{ g.weight }}',
    font: {
      align: 'top',
    },
  });
{% endfor %}

  var container = document.getElementById('neural-network');
  var data = {
    nodes: nodes,
    edges: edges,
  };
  var options = {
    autoResize: true,
    height: 400,
    edges: {
      arrows: 'to',
      smooth: {
        type: 'discrete',
        roundness: 0.8,
      },
    },
    layout: {
      hierarchical: {
        levelSeparation: 200,
        nodeSpacing: 250,
        blockShifting: true,
        edgeMinimization: true,
        direction: 'LR',
        sortMethod: 'directed',
      },
    },
  };

  var network = new vis.Network(container, data, options);
</script>

{% endblock %}
