{% extends "base.html" %}

{% block content %}
  <select id="organisms">
  {% for rel_index, pk in org_ids.items %}
    <option value="{{ pk }}">Organism {{ rel_index }}</option>
  {% endfor %}
  </select>

  <table border="1">
  {% for key, value in sel_org.items %}
    <tr>
      <td>{{ key }}</td>
      <td id="{{ key }}">{{ value }}</td>
    </tr>
  {% endfor %}
  </table>

  <div id="mynetwork">
  </div>

  <script type="text/javascript">
    var nodes = new vis.DataSet([
    {% for n in nodes %}
      {id: {{ n }}, label: 'Node ' + {{ n }}},
    {% endfor %}
    ]);

    var edges = new vis.DataSet([
    {% for g in genes %}
      {from: {{ g.inode }}, to: {{ g.onode }}, arrows: 'to', label: {{ g.weight }}, font: {align: 'bottom'}},
    {% endfor %}
    ]);

    var container = document.getElementById('mynetwork');
    var data = {
      nodes: nodes,
      edges: edges,
    };
    var options = {
      height: '400px',
      layout: {
        hierarchical: {
          levelSeparation: 250,
          direction: 'RL', 
        }
      }
    };
    var network = new vis.Network(container, data, options);
  </script>

{% endblock %}
