{% extends "base.html" %}

{% block breadcrumbs %}
<li>
  <a href="{% url 'experiment' pop.experiment.pk %}">Experiment {{ pop.experiment.pk }}</a>
</li>
<li class="active">
  <a href="{% url 'population' pop.pk %}">Population {{ pop.rel_index }}</a>
</li>
{% endblock %}

{% block content %}
<div class="column-group top-space">
  <div class="all-50">
    <form id="generation-form" action="" method="post">
      {% csrf_token %}
      <select id="generation-sel">
      {% for gen in gen_list %}
        <option value="{{ gen.pk }}">Generation {{ gen.rel_index }}</option>
      {% endfor %}
      </select>
      <input type="submit" value="Select" />
    </form>
  </div>
  <div class="all-50">
  {% if pop.winners %}
    <strong>A Winner was found!</strong>
    {% include 'neatweb/winner.html' with winner=pop.winners.0 only %}
  {% else %}
    No winner was found.
  {% endif %}
  </div>
</div>
<div class="column-group top-space">
  <div class="all-100">
    <select id="graph-selection">
    {% for g in graphs %}
      <option value="{{ g.type }}">{{ g.name }}</option>
    {% endfor %}
    </select>
  </div>
  <div class="all-100">
    <div id="graph"></div>
  </div>
</div>

{% endblock %}
