{% extends "base.html" %}

{% block breadcrumbs %}
<li>
  <a href="{% url 'experiment' pop.experiment.pk %}">Experiment {{ pop.experiment.pk }}</a>
</li>
<li class="active">
  <a href="{% url 'population' pop.pk %}">Population {{ pop.rel_index }}</a>
</li>
{% endblock %}

{% block content %}
<div class="column-group">
  <div class="all-100">
    <form id="generation-form" action="" method="post">
      {% csrf_token %}
      <select id="generation-sel">
      {% for gen in gen_list %}
        <option value="{{ gen.pk }}">Generation {{ gen.rel_index }}</option>
      {% endfor %}
      </select>
      <input type="submit" value="Select" />
    </form>

    {% if pop.winners %}
      A winner was found.
    {% else %}
      No winner was found.
    {% endif %}
  </div>
</div>
<div class="column-group">
  <div class="all-50 medium-100">
    <div id="gen-graph"></div>
  </div>
  <div class="all-50 medium-100">
    <div id="spec-graph"></div>
  </div>
</div>

<script type="text/javascript">
  var xdata = [];
  var ydata = [];

{% for gen in gen_fitness %}
  xdata.push({{ gen.grel_index }});
  ydata.push({{ gen.sfitness }});
{% endfor %}

  var data = [
    {
      x: xdata,
      y: ydata,
      type: 'bar',
    }
  ];

  Plotly.newPlot('gen-graph', data);

  var xdata = [];
  var ydata = [];

{% for spec in spec_fitness %}
  xdata.push({{ spec.srel_index }});
  ydata.push({{ spec.sfitness }});
{% endfor %}

  var data = [
    {
      x: xdata,
      y: ydata,
      type: 'bar',
    }
  ];

  Plotly.newPlot('spec-graph', data);
</script>

{% endblock %}
