{% extends "base.html" %}

{% block content %}
<div>
  <select id="populations">
  {% for p in pop_list %}
    <option value="{{ p.id }}">Population {{ p.id }}</option>
  {% endfor %}
  </select><br>

  {% with sel_pop=pop_list|first %}
  <form id="pop_sel_form" 
      action="/neat/experiment-{{ sel_pop.experiment_id }}/population-{{ sel_pop.id }}">
    <input type="submit" value="Select">
  </form>
  {% endwith %}
<div><br>

<div>
{% if winner %}
A winner was found!
{% else %}
A winner was not found!
{% endif %}
</div>

{% endblock %}
