{% extends "base.html" %}

{% block breadcrumbs %}
{% with pop=spec.population %}
<li>
  <a href="{% url 'experiment' pop.experiment.pk %}">Experiment {{ pop.experiment.pk }}</a>
</li>
<li>
  <a href="{% url 'population' pop.pk %}">Population {{ pop.rel_index }}</a>
</li>
{% endwith %}
<li>
  <a href="{% url 'generation' spec.generation.pk %}">Generation {{ spec.generation.rel_index }}</a>
</li>
<li class="active">
  <a href="{% url 'species' spec.pk %}">Species {{ spec.rel_index }}</a>
</li>
{% endblock %}

{% block content %}
<div class="column-group">
  <div class="all-100">
    <form id="organism-form" action="" method="post">
      {% csrf_token %}
      <select id="organism-sel">
      {% for org in org_list %}
        <option value="{{ org.pk }}">Organism {{ org.rel_index }}</option>
      {% endfor %}
      </select>
      <input type="submit" value="Select" />
    </form>

    <table border="1">
    {% for k, v in fields.items %}
      <tr>
        <td>{{ k }}</td>
        <td>{{ v }}</td>
      </tr>
    {% endfor %}
    </table>
  </div>
</div>
<div class="column-group">
  <div class="all-100">
    <select id="graph-selection">
    {% for g in graphs %}
      <option value="{{ g.type }}">{{ g.name }}</option>
    {% endfor %}
    </select>
  </div>
  <div class="all-100">
    <div id="graph"></div>
  </div>
</div>

{% endblock %}
