{% extends "base.html" %}

{% block content %}

<ul>
  <li><a href="{% url 'population' spec.population.pk %}">Population {{ spec.population.rel_index }}</a></li>
  <li><a href="{% url 'generation' spec.generation.pk %}">Generation {{ spec.generation.rel_index }}</a></li>
</ul>
<form id="organism-form" action="" method="post">
  {% csrf_token %}
  <select id="organism-sel">
  {% for org in org_list %}
    <option value="{{ org.pk }}">Organism {{ org.rel_index }}</option>
  {% endfor %}
  </select>
  <input type="submit" value="Select" />
</form>

<table border="1">
{% for k, v in fields.items %}
  <tr>
    <td>{{ k }}</td>
    <td>{{ v }}</td>
  </tr>
{% endfor %}
</table>

{% endblock %}
